@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.max-width {
  @apply max-w-[1440px];
}

.nav-link {
  @apply my-0 p-1 rounded hover:text-cyan-500 hover:bg-gray-200 duration-300 font-light;
}

.h4-questions {
  @apply text-2xl font-light text-gray-500 p-4;
}

.p-text {
  @apply my-4 text-gray-600 text-lg;
}
